.login-pane .container {
    max-width: 550px;
    
}

.calcu .col-sm,.calcu .col-sm-12 {
    background-color: black;
    border: grey;
    border-style: solid;
    border-radius: 0px;
    border-width: 0.7px;
    color: White;
    font-size: 25px;
    text-align: center;
    padding: 1em;
    
}
#backGround {
    
    background-color: black;
    margin: 5em;
    
}

.col-sm:hover {
    
    background-color: grey;
    color: black;
    cursor: pointer;
    
}

#calCu {
    text-align: right;
    background-color: grey;
    border-bottom: 2px solid black;
    border-width: 2px;
    color: black;
    font-size: 2em;
    
}

#equals {
    
    color: lightgreen;
    
}

#equals:hover {
    background-color: lightgreen;
    color: black;
}


#screenSizeMsg {
    display: none;
}

.direction {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 20px;
    margin-right: 190px;
    padding: 25px;
    border-radius: 5px;
    background-color: lightgray;
}

.direction i {
    font-size: 50px;
}

@media (max-width: 600px) {
    .login-pane .container {
        max-width: 450px;
        min-width: 350px;
    }
    .login-pane h3 {
        font-size: 24px;
    }
    .login-pane p {
        font-size: 14px;
    }
    .login-pane .form-control {
        font-size: 12px;
    }
}

@media (max-width: 590px) {
    #calculatorLayout {
        display: none;
    }
    
    #screenSizeMsg {
        display: block;
    }
}