.login-pane .container {
    max-width: 550px;
    
}

@media (max-width: 600px) {
    .login-pane .container {
        max-width: 450px;
        min-width: 350px;
    }
    .login-pane h3 {
        font-size: 24px;
    }
    .login-pane p {
        font-size: 14px;
    }
    .login-pane .form-control {
        font-size: 12px;
    }
}